.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-group-1 {
  width: 566px;
  min-height: 574px;
  background-image: none;
  height: auto;
  margin: 33px auto 54px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 351px;
  background-image: none;
  width: 442px;
  margin: 28px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}